<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174268669047-28m06cb826nhnkujcb2d23da94n21a0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174268669047-28m06cb826nhnkujcb2d23da94n21a0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174268669047-8i427uvsibr8r7fr4f3dakq6t0ggv6v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJDQnvgGzP9DnsBKr3mbfam3kKGmaxtO0</string>
	<key>GCM_SENDER_ID</key>
	<string>174268669047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.reviewrequester2</string>
	<key>PROJECT_ID</key>
	<string>review-requester</string>
	<key>STORAGE_BUCKET</key>
	<string>review-requester.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174268669047:ios:1d03b4a124bc9819383a72</string>
</dict>
</plist>